/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
    width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#content {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: none;
}

#content .row {
    height: 100%;
    margin: 0;
    padding: 0;
}

#content #sidebar {
    margin: 0;
    padding: 0;
    height: 100%;
}

#sidebar-story {
    padding: 10px;
    height: 90%;
    overflow: scroll;
}

// https://stackoverflow.com/a/38994837
#sidebar-story {
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}
#sidebar-story::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}

#sidebar-tags-outer {
    margin: 0;
    height: 10%;
    border-bottom: ghostwhite solid;
    text-align: center;
}

#sidebar-tags {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

#sidebar-tags button {
    color: #2EB8F6;
    display: flex;
}

#default-sidebar-text {
    text-align: center;
    transform:translate(0%,100%);
    height:50%;
    color:lightgray
}

#sidebar-text {
    height: 100%;
    display: none;
}

#sidebar-text h4 a {
    color: black;
}

#map h4 {
    font-size: 14px;
}

.info-window {
    pointer-events: none;
}
